.toolbar {
  display: inline-flex;
  margin: 25px 0;
}

.input-group {
  display: inline-flex !important;
  /*align-items: flex-start !important;*/
}

.close {
  border: none;
}

.form-label {
  margin-top: 7px;
}

.options {
  background-color: transparent !important;
}

.form-check {
  margin-top: 7px;
}
