<div class="main-container">
  <div class="heading">
    <h1 class="heading__title">Demo Grid Pages using SyncFusion</h1>
    <p class="heading__credits"><a class="heading__link" target="_blank" href="https://github.com/JAY-TRIVEDI-007/">Developed By: Jay Trivedi</a></p>
  </div>
  <div class="cards">

    <div class="card card-1">
      <div class="card__icon"><i class="fa fa-th-large"></i></div>
      <p class="card__exit"><i class="fa fa-times"></i></p>
      <h2 class="card__title">Questions Grid</h2>
      <p class="card__apply">
        <a class="card__link" [routerLink]="'questions/'">Open Grid <i class="fa fa-arrow-right"></i></a>
      </p>
    </div>

    <div class="card card-2">
      <div class="card__icon"><i class="fa fa-th-large"></i></div>
      <p class="card__exit"><i class="fa fa-times"></i></p>
      <h2 class="card__title">Questions Bank Grid</h2>
      <p class="card__apply">
        <a class="card__link" [routerLink]="'questions-bank/'">Open Grid <i class="fa fa-arrow-right"></i></a>
      </p>
    </div>

  </div>
</div>
